.messageRow {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.messageRow.left {
  /* when using `display: flex`, `flex-start` means children will align to the beginning end on the main axis */
  justify-content: flex-start;
}

.messageRow.right {
  justify-content: flex-end;
}

.messageColumn {
  display: flex;
  flex-direction: column;
}

.left .messageColumn {
  align-items: flex-start;
}

.right .messageColumn {
  align-items: flex-end;
}

.content {
  font-size: 16px;
  line-height: 1.5;
  /*
  when using `word-wrap: break-word;`,
  the text will break into multiple lines if it exceeds the width of the container
  It's required style!!!
  */
  word-wrap: break-word;
}

.messageColumn .content.bubble {
  background-color: #f4f4f4;
  padding: 6px 8px;
  border-radius: 12px;
  max-width: 75%;
  color: #333;
}

.messageColumn .content.fullWidth {
  background-color: #fff;
  width: 100%;
  /* Optional: if you want padding even for full width */
  padding: 6px 0;
  color: #333;
}

.toolbarWrapper {
  margin-top: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.messageRow .fullWidth {
  opacity: 1;
}

.messageColumn .content:hover + .toolbarWrapper {
  opacity: 1;
}
/* avoid the toolbar disappear when hover on it */
.toolbarWrapper:hover {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .messageColumn .content.bubble {
    background-color: #383636;
    color: #ffffff;
  }

  .messageColumn .content.fullWidth {
    background-color: #151414;
    color: #ffffff;
  }
}
