.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.markdown-body table th {
  font-weight: 600;
  background-color: #f6f8fa;
}

.markdown-body table tr {
  background-color: #ffffff;
  border-top: 1px solid #d8dee4;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

@media (prefers-color-scheme: dark) {
  .markdown-body table th,
  .markdown-body table td {
    border-color: #444c56;
  }

  .markdown-body table th {
    background-color: #2d333b;
  }

  .markdown-body table tr {
    background-color: #22272e;
    border-top-color: #444c56;
  }

  .markdown-body table tr:nth-child(2n) {
    background-color: #2d333b;
  }
}
