.splitContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fafafa;
  border-right: 2px solid #efeff5;
  /* border-box means the border and padding are included in the width and height */
  box-sizing: border-box;
  min-width: 0;
}

.sidebarHeader {
  flex-shrink: 0;
  padding: 12px;
  border-bottom: 1px solid #efeff5;
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis means the text will be truncated by ... if it exceeds the width of the container */
  text-overflow: ellipsis;
}

.sidebarMain {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  /* 优化滚动条样式体验 */
  overscroll-behavior: contain;
}

.sidebarFooter {
  flex-shrink: 0;
  padding: 12px;
  border-top: 1px solid #efeff5;
  background-color: #fafafa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
